{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-6 offset-3 mt-3 mb-3">
    <h1 class="text-center"> Login</h1>
    <form action="." method="post">
         <div class="form-group">
            {% csrf_token %}
            <label for="username">User name</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
             Your username and password didn't match! Please try again
            </div>
        {% endif %}
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
{#{{ form.as_p }}#}
        <button class="btn btn-primary">Login</button>
    </form>
    </div>
{% endblock %}